<?!= include('src/lib/picnic.css.html'); ?>
<?!= include('src/css/syntax_help.css.html'); ?>

<div id="syntax-guide">
    <p>
        This add-on uses Github flavored markdown. Check <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">here</a> for a more comprehensive guide. These examples are taken from there.
    </p>
</div>

<script src=" https://cdn.rawgit.com/showdownjs/showdown/
1.8.6/dist/showdown.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<?!= include('src/js/syntax_help.js.html'); ?>
